html,
body {
  background: white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.homeCenter {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #008cff;
}

.centerContent {
  text-align: center;
}

.centerContent button.btn_dashboard {
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid white;
  padding: 15px 45px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s;
}

.centerContent button.btn_dashboard:hover,
.centerContent button.btn_dashboard:focus,
.centerContent button.btn_dashboard:active {
  color: #008cff;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid white;
  padding: 15px 45px;
  background-color: rgba(255, 255, 255, 1);
}

.centerContent h1 {
  font-size: 48px;
}
