*::before,
*::after {
  box-sizing: border-box;
}

select,
button,
textarea,
input {
  font-family: Montserrat;
}

.dashboardBody {
  font-size: clamp(0.9vw, 12px, 24px);
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 5vh 95vh;
  height: 100%;
}

.dashboardFilter {
  padding-top: 20px;
  padding-left: 2vw;
  background-color: #f0f0f0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.dashboardApplications {
  max-height: 100%;
  overflow-y: scroll;
  padding-top: 1em;
  padding-left: 1.5em;
  padding-bottom: 1.4em;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

header {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  color: white;
  background-color: #008cff;
  grid-column-start: 1;
  grid-column-end: 5;
}

.dashboard h1.title {
  color: white;
  font-size: 3vh;
  margin-left: 2vw;
  grid-column-start: 1;
}

.dashboard h5 {
  font-size: 2vh;
  justify-self: end;
  margin-right: 2vw;
  grid-column-start: 2;
}

.dashboard h5 a {
  color: white;
  text-decoration: none;
}

.dashboard h5 a:hover {
  color: #ff443a !important;
}

.dashboard {
  background-color: white;
  height: 100vh;
}

.dashboard h1 {
  color: black;
}

button.btn_addApplication {
  height: 2em;
  width: 2em;
  margin-left: 1em;
  border-radius: 0px;
  border: none;
  font-size: 1.5em;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button.btn_addApplication:hover,
button.btn_addApplication:focus {
  background-color: #dddddd;
}

.applicationContainer {
  box-sizing: border-box;
  background-color: #008cff;
  position: relative;
  width: 90%;
  margin-top: 30px;
}

.applicationContainer:last-of-type {
  background-color: #008cff;
  width: 90%;
  margin: 30px 0px;
}

.applicationHeader {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  padding: 0.75em;
  margin-left: 10px;
  font-size: 1.4em;
}

.applicationHeader .companyPostion {
  justify-self: flex-start;
}

.applicationHeader .appliedDate {
  justify-self: flex-end;
  margin-right: 1em;
  font-style: italic;
}

.applicationBody {
  background-color: #f0f0f0;
  padding: 15px 15px 15px 25px;
  color: #101010;
}

.applicationFooter {
  border: none;
  padding: 0.3em 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  color: white;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.applicationFooter:active,
.applicationFooter:hover {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  color: white;
  cursor: pointer;
}
