*::before,
*::after {
  box-sizing: border-box;
}

select,
button,
textarea,
input {
  font-family: Montserrat;
}

.dashboardBody {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 5vh 95vh;
  height: 100%;
}

.dashboardFilter {
  padding-top: 20px;
  padding-left: 2vw;
  background-color: #f0f0f0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.dashboardApplications {
  max-height: 100%;
  overflow-y: scroll;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  color: white;
  background-color: #008cff;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.dashboard h1.title {
  color: white;
  font-size: 3vh;
  margin-left: 2vw;
}

.dashboard h5 {
  font-size: 2vh;
  margin-right: 2vw;
  cursor: pointer;
}

.dashboard h5 a {
  color: white;
  text-decoration: none;
}

.dashboard h5 a:hover {
  color: #fc4036 !important;
}

.dashboard h2.settingsTitle {
  color: white;
  margin: 5px 2vw;
}

.dashboard {
  background-color: white;
  height: 100vh;
}

.dashboard h1 {
  color: black;
}

button.btn_addApplication {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  border-radius: 0px;
  border: none;
  font-size: 24px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button.btn_addApplication:hover,
button.btn_addApplication:focus {
  background-color: #dddddd;
}

.applicationContainer {
  background-color: #008cff;
  width: 800px;
  margin-top: 30px;
}

.applicationContainer:last-of-type {
  background-color: #008cff;
  width: 800px;
  margin: 30px 0px;
}

.applicationHeader {
  width: 800px;
  padding: 15px 15px;
  margin-left: 10px;
  font-size: 24px;
}

.applicationBody {
  background-color: #f0f0f0;
  padding: 15px 15px 15px 25px;
  color: #101010;
}

.applicationFooter {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  color: white;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.applicationFooter:active,
.applicationFooter:hover {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  color: white;
  cursor: pointer;
}

.addApplication {
  color: #101010;
  font-size: 1em;
}

.addApplication .addApplicationHeader {
  background-color: #008cff;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  align-items: center;
}

.addApplicationHeader h2 {
  color: white;
  font-size: 1.4em;
  margin-left: 1em;
}

.addApplication .addApplicationHeader button {
  color: #e33b32 !important;
  font-size: 1.4em;
  background-color: transparent;
  align-self: center !important;
  height: 100%;
  padding: 0px 1em !important;
  margin-top: 0px !important;
  margin-left: auto;
  border-radius: 0px !important;
}

.addApplication .addApplicationForm {
  position: relative;
  height: calc(100% - 3em);
  top: 3em;
  width: 100%;
}

/* Changing scrollbar in Chrome */
.addApplication .formContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: darkgray;
}

.addApplication .formContainer::-webkit-scrollbar {
  width: 12px;
  background-color: darkgray;
}

.addApplication .formContainer::-webkit-scrollbar-thumb {
  background-color: #007add;
}

.addApplication .formContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "leftSideForm rightSideForm";
  max-height: 800px;
  overflow-y: scroll;
  scrollbar-color: #007add transparent;
  scrollbar-width: thin;
}

.addApplication .leftSideForm {
  grid-area: leftSideForm;
  margin-left: 1.5em;
}

.addApplication .rightSideForm {
  grid-area: rightSideForm;
}

h3.addApplicationTitle {
  color: #101010;
  margin: 0.5em 0;
  font-weight: 500;
}

.addApplication input,
.addApplication textarea {
  box-sizing: border-box;
  padding: 0.6em 0.3em 0.6em 0.5em;
  display: inline-block;
  border-radius: 6px;
  outline: none;
  border: 1px solid black;
  background-color: white;
  width: 95%;
}

.addApplication textarea {
  width: 95% !important;
  resize: none !important;
  height: 5em !important;
  font-size: 0.9em !important;
}

.react-datepicker-ignore-onclickoutside {
  box-sizing: border-box;
  padding: 10px 5px 10px 10px;
  display: inline-block;
  border-radius: 6px;
  outline: none;
  border: 1px solid black;
  background-color: white;
  width: 95%;
}

.addApplication select::-ms-expand {
  display: none;
}

.addApplicationSelect {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
}

.addApplicationSelect select {
  appearance: none;
  cursor: pointer;
  padding: 0.6em 0.3em 0.6em 0.5em;
  border-radius: 6px;
  outline: none;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  width: 95%;
  box-sizing: border-box;
}

.addApplicationSelect::after {
  content: "";
  position: absolute;
  right: 40px;
  top: 15px;
  width: 15px;
  height: 10px;
  background-color: #008cff;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.addApplication button {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: #008cff;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  font-family: Montserrat;
}

.addApplication button:hover,
.addApplication input[type="submit"]:hover {
  background-color: #007add;
}

.addApplication .notesDocsContainer {
  box-sizing: border-box;
  overflow: auto;
  width: 95%;
  margin-top: 20px;
  height: 10.3em;
  word-wrap: normal;
  background-color: #f0f0f0;
  border: 1px solid black;
  padding: 10px;
  scrollbar-color: #007add transparent;
  scrollbar-width: thin;
}

.addApplication .notesDocsContainer li {
  list-style-type: none;
  margin-left: 20px;
}

.addApplication .notesDocsContainer button {
  background-color: transparent;
  font-size: 18px;
  color: #e33b32;
}

/* Changing scrollbar in Chrome */
.addApplication .notesDocsContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: darkgray;
}

.addApplication .notesDocsContainer::-webkit-scrollbar {
  width: 12px;
  background-color: darkgray;
}

.addApplication .notesDocsContainer::-webkit-scrollbar-thumb {
  background-color: #007add;
}

.react-datepicker-wrapper {
  display: inline !important;
  padding: 0;
  border: 0;
}

.addApplication input[type="submit"] {
  position: relative;
  bottom: 0px;
  color: white;
  border-radius: 0px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #008cff;
  transition: all 0.2s;
  cursor: pointer;
  height: 50px;
  font-weight: bold;
}

.interviewSchedule {
  display: none;
  padding-left: 20px;
  border-left: #008cff solid 3px;
}
