*::before,
*::after {
  box-sizing: border-box;
}

select,
button,
textarea,
input {
  font-family: Montserrat;
}

.dashboardBody {
  font-size: clamp(0.9vw, 12px, 24px);
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 5vh 95vh;
  height: 100%;
}

.dashboard button.showFilters {
  display: none;
}

.dashboardFilter {
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 2vw;
  background-color: #f0f0f0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}


.dashboardApplications {
  max-height: 100%;
  overflow-y: scroll;
  padding-top: 1em;
  padding-left: 1.5em;
  padding-bottom: 1.4em;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

header {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  color: white;
  background-color: #008cff;
  grid-column-start: 1;
  grid-column-end: 5;
}

.dashboard h1.title {
  color: white;
  font-size: 3vh;
  margin-left: 2vw;
  grid-column-start: 1;
}

.dashboard h5 {
  font-size: 2vh;
  justify-self: end;
  margin-right: 2vw;
  grid-column-start: 2;
}

.dashboard h5 a {
  color: white;
  text-decoration: none;
}

.dashboard h5 a:hover {
  color: #ff443a !important;
}

.dashboard {
  background-color: white;
  height: 100vh;
}

.dashboard h1 {
  color: black;
}

.applicationsHeader {
  height: 3em;
  display: flex;
  align-items: center;
}

button.btn_addApplication,
button.btn_editMode {
  height: 100%;
  width: 2em;
  margin-left: 1em;
  border-radius: 0px;
  border: none;
  font-size: 1.5em;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button.btn_addApplication:hover,
button.btn_addApplication:focus,
button.btn_editMode:hover,
button.btn_editMode:focus {
  background-color: #dddddd;
}

button.btn_editMode {
  box-sizing: border-box;
  border-bottom: 3px solid red;
  width: auto;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.editModeButtons {
  margin-bottom: 1em;
}

.editModeButtons button{
  height: 1.8em;
  width: 1.8em;
  margin-right: 1em;
  border-radius: 0px;
  border: none;
  font-size: 1.75em;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.editModeButtons button:hover,
.editModeButtons button:active {
  background-color: #dddddd;
}

.editModeButtons .delete button {
  background-color: #ff443a;
  color: white !important;
  transition: all 0.2s;
}

.editModeButtons .delete button:hover,
.editModeButtons .delete button:active {
  background-color: #df3931;
}

.applicationContainer {
  box-sizing: border-box;
  background-color: #008cff;
  position: relative;
  width: 90%;
}

.applicationHeader {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  padding: 0.75em;
  margin-left: 10px;
  font-size: 1.4em;
}

.applicationHeader .companyPostion {
  justify-self: flex-start;
}

.applicationHeader .appliedDate {
  justify-self: flex-end;
  margin-right: 1em;
  font-style: italic;
}

.applicationBody {
  background-color: #f0f0f0;
  padding: 15px 15px 15px 25px;
  color: #101010;
}

.applicationBody li {
  margin-left: 2em;
}

.applicationFooter {
  border: none;
  padding: 0.3em 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  color: white;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.applicationFooter:active,
.applicationFooter:hover {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 875px) {
  .dashboardBody {
    font-size: clamp(0.9vw, 12px, 24px);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5vh 5vh 90vh;
    height: 100%;
  }

  .dashboard button.showFilters {
    display: block;
    cursor: pointer;
    z-index: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    border: none;
    outline: none;
  }

  .dashboardFilter {
    height: 0%;
    max-height: 90vh;
    overflow: hidden;
    padding: 0 2vw;
    background-color: #f0f0f0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }

  .dashboardApplications {
      max-height: 100%;
      overflow-y: scroll;
      padding-top: 1em;
      padding-left: 1.5em;
      padding-bottom: 1.4em;
      padding-right: 1.5em;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
  }
  
  .applicationContainer {
    box-sizing: border-box;
    background-color: #008cff;
    position: relative;
    width: 100%;
  }
}