.dashboardBody {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 5vh 95vh;
  height: 100%;
}

.dashboardFilter {
  padding-top: 20px;
  padding-left: 2vw;
  width: 20vw;
  height: 100%;
  background-color: #f0f0f0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.dashboardApplications {
  padding-top: 20px;
  margin-left: 20px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

header {
  display: block;
  color: white;
  background-color: #008cff;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.dashboard h1.title {
  color: white;
  font-size: 3vh;
  margin: 5px 2vw;
}

.dashboard h2.settingsTitle {
  color: white;
  margin: 5px 2vw;
}

.dashboard {
  background-color: white;
  height: 100vh;
}

.dashboard h1 {
  color: black;
}

button.btn_addApplication {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  border-radius: 0px;
  border: none;
  font-size: 24px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button.btn_addApplication:hover,
button.btn_addApplication:focus {
  background-color: #dddddd;
}

.applicationContainer {
  background-color: #008cff;
  width: 800px;
  margin-top: 30px;
}

.applicationHeader {
  width: 800px;
  padding: 15px 15px;
  margin-left: 10px;
  font-size: 24px;
}

.applicationBody {
  background-color: #f0f0f0;
  padding: 15px 15px 15px 25px;
  color: #101010;
}

.applicationFooter {
  border: none;
  background-color: rgba(0,0,0,0);
  width: 100%;
  color: white;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.applicationFooter:active, 
.applicationFooter:hover {
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  color: white;
  cursor: pointer;
}

h3.addApplicationTitle {
  color: #101010;
  margin: 15px 0px;
  display: inline-block;
  margin-right: 20px;
}

.addApplication input {
  display: inline-block;
  border-radius: 2px;
  outline: none;
  border: 1px solid black;
  height: 25px;
  background-color: white;
}