.FilterTextBox {
  font-size: 0.9em;
  box-sizing: border-box;
  padding: 0.6em 0.3em 0.6em 0.5em;
  display: inline-block;
  border-radius: 6px;
  outline: none;
  border: 1px solid black;
  background-color: white;
  width: 95%;
}

.dashboardFilter label {
  color: #101010;
}

.filterSelect {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
}

.filterSelect select {
  font-size: 0.9em;
  appearance: none;
  cursor: pointer;
  padding: 0.6em 0.3em 0.6em 0.5em;
  border-radius: 6px;
  outline: none;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  width: 95%;
  box-sizing: border-box;
}

.filterSelect::after {
  content: "";
  position: absolute;
  right: clamp(1.5em, 20px, 20px);
  top: 0.9em;
  width: 0.9em;
  height: 0.7em;
  background-color: #008cff;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.statusFilters {
  margin: 1em 0;
}


@media only screen and (max-width: 875px) {

.filterSelect select {
  width: 100%;
}

.FilterTextBox {
  width: 100%;
}
}